.movie-card {
  cursor: pointer;

  height: 25rem;
  width: 15rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.movie-card-link {
  text-decoration: none;
  color: inherit;
}

.movie-title {
  flex-wrap: nowrap;
}

.movie-card > * {
  margin: 0;
}

.movie-poster {
  width: inherit;
  border-radius: 8px;
}

.tomatillo {
  background: url('../../assets/tomatillo.svg') no-repeat;
}

.movie-rating {
  margin-left: 100%;
}
