.single-movie {
  display: flex;
}

.return-all-movies {
  position: absolute;
  /* Offset same as poster margin */
  left: 4rem;
  top: 120px;
  cursor: pointer;
  width: fit-content;
  background: transparent;
  border: none;
  font-size: 1.3rem;
}

.single-movie-data {
  min-width: 320px;
  margin: 4rem 2rem 0 0;
  display: flex;
  flex-direction: column;
}

.single-movie-poster {
  margin: 4rem;
  margin-bottom: 0;
  height: 450px;
  border-radius: 8px;
}

.single-movie-backdrop {
  margin: auto;
  position: fixed;
  top: 100px;
  left: 0;
  overflow: hidden;

  min-height: 100%;
  max-width: 100%;

  opacity: 0.3;

  z-index: -1;
}

.overlay {
  width: 100%;
  min-height: calc(100% - 100px);
  position: absolute;
  top: 100px;
  left: 0;

  z-index: -1;
  background-color: rgba(64, 0, 0, 0.463);
}

.single-movie-title {
  margin: 2px;
}

.tomatillo-rating {
  background: url('../../assets/tomatillo.svg') no-repeat;

  display: flex;
}

.single-movie-rating {
  margin-left: 35px;
}

.title-and-date {
  display: flex;
  align-items: center;
}

.title-and-date h2 {
  font-size: 2rem;
}

.title-and-date span {
  font-size: 1.6rem;
}

.error-msg {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

@media only screen and (max-width: 1024px) {
  .single-movie-poster {
    display: none;
  }

  .single-movie-data {
    padding: 0 4rem;
    gap: 10px;
  }

  .single-movie-backdrop {
    min-width: 150%;
  }
}

@media only screen and (max-width: 440px) {
  .single-movie {
    min-height: 100vh;
    background: url('../../assets/film.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .single-movie-data {
    padding-left: 0.5rem;
    padding-right: 4rem;
    min-height: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0.282);
  }

  .single-movie-backdrop {
    visibility: hidden;
  }

  .return-btn-link {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .return-all-movies {
    color: black;
    left: 0.5em;
  }

  .overlay {
    visibility: hidden;
  }
}

@media only screen and (max-width: 320px) {
  .single-movie-backdrop {
    visibility: hidden;
  }
}
