.single-movie{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    padding-left: 5px;
}

.movie-details-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100%;
}

.movie-details{
    display: flex;
    flex-direction: column;
    height: 34em;
}

.button-container{
    display: flex;
    justify-content: center;
    width: 100%;

}

.single-movie-poster{
    display: flex;
    height: 40vw;
    width: auto;
}

.single-movie-title{
    margin: 2px;
    font-size: 3em;
}

.tomatillo-single-movie{
    background: url('../src/assets/tomatillo.svg') no-repeat;
    width: 50%;

    display: flex;
}

.single-movie-rating{
    margin-left: 11%;
}

.single-movie-release{
    margin: 4px;
}

.return-all-movies {
    cursor: pointer;
    width: 15em;
}