.header {
  display: flex;
  align-items: center;

  padding-left: 10px;

  background-color: black;
  height: 100px;
}

.header h1 {
  display: flex;
  padding-left: 5px;
}

.tomatillo-logo {
  width: 2em;
}
